.mainbody {
  font-family: 'Noto Sans TC', sans-serif;
}

.top {
  background-color: #fff;
  border: 1px #000 solid;
}
.top-line {
  height: 15px;
  width: 2px;
  border-top: none;
  border-bottom: none;
  border-right: 3px #31a1ef solid;
  border-left: none;
}
h6 {
  padding-top: 18px;
}
.form-input {
  border: 1px #ccc solid;
  border-radius: 5px;
}
.top-line {
  height: 15px;
  width: 2px;
  border-top: none;
  border-bottom: none;
  border-right: 3px #31a1ef solid;
  border-left: none;
}
h6 {
  padding-top: 18px;
}
.form-input {
  border: 1px #888 solid;
  border-radius: 5px;
  padding-left: 5px;
}

::placeholder {
  color: #ccc;
  padding-left: 1px;
}

/* select {
  background: url(./image/arrow.svg) !important;
  border-radius: 5px;
  border: 1px #888 solid;
} */

label {
  display: block;
}

select {
  background-color: white;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.minimal {
  background-image: url(/image/arrow.svg);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 10px 10px, 1px 1.5em;
  background-repeat: no-repeat;
  padding-top: 2px;
  padding-bottom: 2px;
}
