.mainbody {
  font-family: 'Noto Sans TC', sans-serif;
  border: 1px #000 solid;
}

h6 {
  padding-top: 18px;
}

h4 {
  padding-left: 20px;
}

.top {
  background-color: #fff;
  border: 1px #000 solid;
}

.blue-line {
  position: absolute;
  height: 15px;
  width: 2px;
  padding-top: 15px;
  border-top: none;
  border-bottom: none;
  border-right: 3px #31a1ef solid;
  border-left: none;
}

.form-input {
  border: 1px #ccc solid;
  border-radius: 5px;
}
::placeholder {
  color: #ccc;
  padding-left: 1px;
}

label {
  display: block;
}

select {
  background-color: white;
  border-radius: 4px;
  border-color: #ccc;
  display: inline;
  font: inherit;
  padding-top: 5px;
  padding-buttom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  /* reset */
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.arrow {
  background-image: url(../image/arrow.svg);
  background-position: 85%;
  background-size: 10px;
  background-repeat: no-repeat;
}

.years {
  padding-left: 10px;
  padding-right: 30px;
  padding-bottom: 5px;
}

.mon-day-pad {
  padding-left: 18px;
  padding-right: 30px;
  padding-bottom: 5px;
}

.go-next-button {
  height: 45px;
  margin: 10px 18px 20px 0;
  border: none;
  border-radius: 6px;
  letter-spacing: 2px;
  color: #fff;
  background: #05a5e3;
}

.go-next-button:hover {
  background: #0eccd2;
  transition: 0.5s;
}
