.swiper-slide .fancybox-type-iframe .fancybox-nav {
  width: 60px;
}

.swiper-slide .fancybox-type-iframe .fancybox-nav span {
  visibility: visible;
  opacity: 0.5;
}

.swiper-slide .fancybox-type-iframe .fancybox-nav:hover span {
  opacity: 1;
}

.swiper-slide .fancybox-type-iframe .fancybox-next {
  right: -60px;
}

.swiper-slide .fancybox-type-iframe .fancybox-prev {
  left: -60px;
}
